<div class="font-bold">{{ rank() }}.</div>

<div
  class="flex flex-1 flex-col gap-2"
  (click)="toggleCollapsed()"
  role="button"
>
  <div class="flex justify-between gap-2">
    <div class="flex items-center gap-2">
      <bkr-chevron-right-icon
        class="text-indigo-500"
        [ngClass]="{ 'rotate-90': !collapsed() }"
      >
      </bkr-chevron-right-icon>
      <h3 class="name">
        {{ rankingItem().name }}
        <span class="number">#{{ rankingItem().number }}</span>
      </h3>
    </div>

    <div class="font-mono text-indigo-500">
      {{ rankingItem().time | duration }}
    </div>
  </div>

  <div class="flex justify-between gap-2">
    <div>Gesamtzeit</div>
    <div class="font-mono">
      {{ rankingItem().totalTime | duration }}
    </div>
  </div>

  @if (!collapsed()) {
    <div class="flex justify-between gap-2">
      <div>Strafzeit</div>
      <div class="font-mono" [class.text-red-500]="rankingItem().penalty > 0">
        + {{ rankingItem().penalty | duration }}
      </div>
    </div>

    @for (station of stations(); track station.id) {
      <div class="-mr-6 border-t border-gray-200 pr-6 pt-2">
        <div class="flex justify-between gap-2">
          <div>{{ station.name }} Zeit</div>
          <div class="font-mono">
            - {{ getTimeAtStation(station.id, rankingItem()) | duration }}
          </div>
        </div>

        <div class="flex justify-between gap-2">
          <div>{{ station.name }} Bonus</div>
          <div class="font-mono">
            - {{ getBonusAtStation(station.id, rankingItem()) | duration }}
          </div>
        </div>
      </div>
    }
  }
</div>
