{
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@bkr/(.*)$", "^[./]"],
  "importOrderParserPlugins": ["typescript", "decorators"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "singleQuote": true
}
