<header class="header mx-6">
  <a bkr-button class="col-span-1" routerLink="/stations">Abbrechen</a>
  <button
    bkr-button
    bkrType="primary"
    class="col-span-1"
    (click)="handleSave()"
    [disabled]="form.invalid || loading"
    [bkrLoading]="loading"
  >
    Speichern
  </button>
</header>

<form class="flex flex-col gap-4 px-6" [formGroup]="form">
  <div class="flex flex-col gap-2">
    <label class="label">Nummer<span class="text-indigo-500">*</span></label>

    <input
      bkrInput
      formControlName="number"
      placeholder="Nummer"
      type="number"
    />
  </div>

  <div class="flex flex-col gap-2">
    <label class="label">Name<span class="text-indigo-500">*</span></label>

    <input bkrInput formControlName="name" placeholder="Name" type="text" />
  </div>

  <div class="flex flex-col gap-2">
    <label class="label">Code<span class="text-indigo-500">*</span></label>

    <input
      bkrInput
      formControlName="code"
      id="code"
      maxlength="6"
      placeholder="123-456"
      type="text"
    />
  </div>

  <p class="text-sm text-gray-500">
    Der Code dient als Passwort, mit dem sich Mitglieder der Station einloggen
    können, und muss 6 Zeichen lang sein.
  </p>

  <div class="flex flex-col gap-2">
    <label class="label">Wertung<span class="text-indigo-500">*</span></label>

    <div class="flex items-center gap-4">
      <input
        class="radio"
        formControlName="order"
        id="order-asc"
        type="radio"
        [value]="Order.ASC"
      />
      <label for="order-asc">
        Das Team mit dem
        <span class="font-semibold text-indigo-500">niedrigsten</span> Wert
        gewinnt.
      </label>
    </div>

    <div class="flex items-center gap-4">
      <input
        class="radio"
        formControlName="order"
        id="order-desc"
        type="radio"
        [value]="Order.DESC"
      />

      <label for="order-desc">
        Das Team mit dem
        <span class="font-semibold text-indigo-500">höchsten</span> Wert
        gewinnt.
      </label>
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <label class="label">Mitglieder</label>
    <bkr-members-input formControlName="members"></bkr-members-input>
  </div>
</form>
