<nav class="flex items-center justify-between py-6">
  <a
    class="block rounded-xl focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-indigo-500"
    routerLink="/"
  >
    <h1 class="title">BKR 2023</h1>
  </a>

  <button
    class="rounded-full p-1 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
    (click)="handleAuth()"
    [ngClass]="{
      'bg-gray-300': !isAdmin() && !isStation(),
      'bg-indigo-500': isAdmin() || isStation()
    }"
  >
    <bkr-star-icon *ngIf="isAdmin()"></bkr-star-icon>
    <bkr-flag-icon *ngIf="isStation()"></bkr-flag-icon>
    <bkr-user-icon *ngIf="!isAdmin() && !isStation()"></bkr-user-icon>
  </button>
</nav>

<ng-container *ngIf="!loading(); else loadingIndicator">
  <ng-container *ngIf="!hasError(); else error">
    <router-outlet></router-outlet>
  </ng-container>
</ng-container>

<ng-template #error>
  <div class="flex flex-col items-center gap-4 py-32 text-gray-300">
    <!-- Exclamation Triangle Icon (Solid) -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="h-16 w-16"
    >
      <path
        fill-rule="evenodd"
        d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
        clip-rule="evenodd"
      />
    </svg>

    <span class="text-xl font-bold"> Da lief wohl was schief. </span>
  </div>
</ng-template>

<ng-template #loadingIndicator>
  <bkr-loading></bkr-loading>
</ng-template>

<footer class="flex justify-center p-16 text-sm text-gray-500">
  <a class="underline" href="https://plausible.io/bkr2023.de" target="_blank">
    Analytics
  </a>
</footer>
