<header class="grid grid-cols-2 gap-4 px-6">
  <a bkr-backward-button class="col-span-1" routerLink="/">Zurück</a>
  <a
    bkr-button
    bkrType="primary"
    class="col-span-1"
    routerLink="/my-station/check-in"
  >
    Check-in
  </a>
</header>

<div class="space-y-1 px-6">
  <h2 class="subtitle">Check-ins</h2>
  <p class="text-gray-500">Diese Teams sind momentan eingecheckt.</p>
</div>

<ng-container *ngIf="loading() === false; else loadingIndicator">
  <ul
    class="divide-y divide-gray-200 border-y border-gray-200"
    *ngIf="checkedInTeams().length > 0; else empty"
  >
    <li *ngFor="let team of checkedInTeams()">
      <a
        class="flex items-center justify-between p-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
        routerLink="/my-station/check-out"
        [queryParams]="{ teamId: team.id }"
      >
        <div class="flex flex-col gap-1">
          <div class="flex items-center gap-2">
            <h3 class="name">{{ team.name }}</h3>
            <span class="number">#{{ team.number }}</span>
          </div>

          <p class="text-gray-500">{{ TeamUtils.formatTeamMembers(team) }}</p>
        </div>

        <bkr-chevron-right-icon class="text-gray-500"></bkr-chevron-right-icon>
      </a>
    </li>
  </ul>

  <ng-template #empty>
    <bkr-empty>Es sind keine Teams eingecheckt.</bkr-empty>
  </ng-template>
</ng-container>

<div class="space-y-1 px-6">
  <h2 class="subtitle">Ergebnisse</h2>
  <p class="text-gray-500">Die Ergebnisse von Teams an deiner Station.</p>
</div>

<ng-container *ngIf="loading() === false; else loadingIndicator">
  <ul
    class="divide-y divide-gray-200 border-y border-gray-200"
    *ngIf="results().length > 0; else empty"
  >
    <li *ngFor="let result of results()">
      <a
        class="flex items-center justify-between p-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
        routerLink="/my-station/result"
        [queryParams]="{ teamId: result.teamId }"
      >
        <div class="flex flex-col gap-1">
          <div class="flex items-center gap-2">
            <h3 class="name">{{ result.team.name }}</h3>
            <span class="number">#{{ result.team.number }}</span>
          </div>

          <p class="text-gray-500">
            {{ TeamUtils.formatTeamMembers(result.team) }}
          </p>
        </div>

        <bkr-chevron-right-icon class="text-gray-500"></bkr-chevron-right-icon>
      </a>
    </li>
  </ul>

  <ng-template #empty>
    <bkr-empty>Es gibt noch keine Ergebnisse an deiner Station.</bkr-empty>
  </ng-template>
</ng-container>

<ng-template #loadingIndicator>
  <bkr-loading></bkr-loading>
</ng-template>
