<header class="header">
  <a bkr-backward-button class="col-span-1" routerLink="/">Zurück</a>
  <a
    bkr-button
    bkrType="primary"
    class="col-span-1"
    routerLink="/my-station/check-in"
  >
    Check-in
  </a>
</header>

<div class="space-y-1">
  <h2 class="subtitle">Check-ins</h2>
  <p class="text-gray-500">Diese Teams sind momentan eingecheckt.</p>
</div>

<bkr-alert>
  Checke ein Team direkt ein, sobald es deine Station erreicht.
</bkr-alert>

<ul class="list" *ngIf="checkedInTeams().length > 0; else emptyCheckins">
  <li *ngFor="let team of checkedInTeams()">
    <a
      class="focus-outline-inset list-entry items-center justify-between"
      routerLink="/my-station/check-out"
      [queryParams]="{ teamId: team.id }"
    >
      <div class="flex flex-col gap-1">
        <div class="flex items-center gap-2">
          <h3 class="name">{{ TeamUtils.getTeamName(team) }}</h3>
          <span class="number">#{{ team.number }}</span>
        </div>

        <p class="text-gray-500">{{ TeamUtils.formatTeamMembers(team) }}</p>
      </div>

      <bkr-chevron-right-icon class="text-gray-500"></bkr-chevron-right-icon>
    </a>
  </li>
</ul>

<ng-template #emptyCheckins>
  <bkr-empty>Es sind keine Teams eingecheckt.</bkr-empty>
</ng-template>

<div class="space-y-1">
  <h2 class="subtitle">Ergebnisse</h2>
  <p class="text-gray-500">Die Ergebnisse der Teams an deiner Station.</p>
</div>

<bkr-alert *ngIf="station() as station" [ngSwitch]="station.order">
  <ng-container *ngSwitchCase="'ASC'">
    An deiner Station gewinnt das Team mit den
    <span class="font-semibold">wenigsten</span> Punkten.
  </ng-container>
  <ng-container *ngSwitchCase="'DESC'">
    An deiner Station gewinnt das Team mit den
    <span class="font-semibold">meisten</span> Punkten.
  </ng-container>
</bkr-alert>

<bkr-tabs (bkrChange)="handleChangeRanking($event)">
  <bkr-tab bkrKey="standard">Standardwertung</bkr-tab>
  <bkr-tab bkrKey="help">Hilfswertung</bkr-tab>
</bkr-tabs>

<ul class="list" *ngIf="results().length > 0; else emptyResults">
  <li *ngFor="let result of results(); let i = index">
    <a
      class="focus-outline-inset list-entry items-center justify-between"
      routerLink="/my-station/result"
      [queryParams]="{ teamId: result.teamId }"
    >
      <div class="flex gap-4">
        <div class="font-bold">{{ result.rank }}.</div>

        <div class="flex flex-col gap-1">
          <div class="flex items-center gap-2">
            <h3 class="name">{{ TeamUtils.getTeamName(result.team) }}</h3>
            <span class="number">#{{ result.team.number }}</span>
          </div>

          <p class="text-gray-500">
            {{ TeamUtils.formatTeamMembers(result.team) }}
          </p>

          <p class="font-semibold">{{ result.points }} Punkte</p>
        </div>
      </div>

      <bkr-chevron-right-icon class="text-gray-500"></bkr-chevron-right-icon>
    </a>
  </li>
</ul>

<ng-template #emptyResults>
  <bkr-empty>Es gibt noch keine Ergebnisse an deiner Station.</bkr-empty>
</ng-template>
