@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@angular/cdk/overlay-prebuilt.css';

/* You can add global styles to this file, and also import other style files */
@layer base {
  body {
    @apply text-gray-900 selection:bg-indigo-500 selection:text-white;
  }
}

@layer components {
  .page {
    @apply flex flex-col gap-6 pb-32;
  }

  .title {
    @apply font-title relative text-2xl font-bold text-white before:absolute before:-inset-1 before:inset-y-0 before:-z-10 before:block before:-rotate-3 before:bg-indigo-500 before:content-[''];
  }

  .subtitle {
    @apply font-title text-lg font-semibold;
  }

  .subtitle.danger {
    @apply text-red-500;
  }

  .name {
    @apply font-title text-base font-semibold text-indigo-500;
  }

  .number {
    @apply font-title text-sm font-semibold text-gray-300;
  }

  .label {
    @apply font-title text-base font-semibold;
  }

  .input {
    @apply block w-full rounded-xl border-0 px-4 py-3 shadow-sm ring-1 ring-inset transition placeholder:text-gray-400 focus:ring-2 focus:ring-inset;
  }

  .input.invalid {
    @apply ring-red-500 focus:ring-red-500;
  }

  .input:not(.invalid) {
    @apply ring-gray-200 focus:ring-indigo-500;
  }

  .backdrop {
    @apply bg-gray-600 bg-opacity-75;
  }

  .header {
    @apply grid grid-cols-2 gap-4;
  }

  .dialog {
    @apply w-full self-start px-6 py-20;
  }

  .radio {
    @apply h-5 w-5 border-gray-200 text-indigo-500 focus:ring-indigo-500;
  }

  .list {
    @apply -mx-6 divide-y divide-gray-200 border border-gray-200 bg-white sm:mx-0 sm:rounded-xl;
  }

  .list-entry {
    @apply flex gap-4 p-6;
  }

  .list-entry:first-child {
    @apply sm:rounded-t-xl;
  }

  .list-entry:last-child {
    @apply sm:rounded-b-xl;
  }

  .focus-outline-inset {
    @apply focus-visible:outline focus-visible:outline-2 focus-visible:-outline-offset-2 focus-visible:outline-indigo-500;
  }
}
