@for (member of members(); track $index) {
  <div class="flex gap-2">
    <input
      bkrInput
      (change)="handleMemberChangeAt($index, $event)"
      [value]="member"
      (keydown.enter)="handleEnterAt($event, $index)"
      #memberInput
      placeholder="Name"
      type="text"
    />

    @if ($index > 0) {
      <button bkr-icon-button (click)="handleRemoveMemberAt($index)">
        <bkr-x-mark-icon class="px-0.5 text-gray-500"></bkr-x-mark-icon>
      </button>
    }
  </div>
}

<button bkr-button bkrType="primary" (click)="handleAddMember()">
  Mitglied hinzufügen
</button>
