<header class="header mx-6">
  <a bkr-backward-button class="col-span-1" routerLink="/stations">Zurück</a>
  <ng-container *ngIf="station$ | async as station">
    <a
      bkr-button
      class="col-span-1"
      *ngIf="isAdmin()"
      [routerLink]="['/stations', station.id, 'edit']"
    >
      Bearbeiten
    </a>
  </ng-container>
</header>

<ng-container *ngIf="!loading(); else loadingIndicator">
  <ng-container *ngIf="station$ | async as station; else empty">
    <div class="flex flex-col gap-4 px-6">
      <div class="flex flex-col gap-2">
        <label class="label">Nummer</label>
        <p>{{ station.number }}</p>
      </div>

      <div class="flex flex-col gap-2">
        <label class="label">Name</label>
        <p>{{ station.name }}</p>
      </div>

      <div class="flex flex-col gap-2" *ngIf="isAdmin() && station.code">
        <label class="label">Code</label>
        <p>{{ station.code }}</p>
      </div>

      <div class="flex flex-col gap-2" [ngSwitch]="station.order">
        <label class="label flex items-center gap-2">
          Wertung
          <bkr-arrow-down-circle-icon
            class="text-indigo-500"
            *ngSwitchCase="'ASC'"
          ></bkr-arrow-down-circle-icon>
          <bkr-arrow-up-circle-icon
            class="text-indigo-500"
            *ngSwitchCase="'DESC'"
          ></bkr-arrow-up-circle-icon>
        </label>
        <p *ngSwitchCase="'ASC'">
          Das Team mit dem
          <span class="font-semibold text-indigo-500">niedrigsten</span> Wert
          gewinnt.
        </p>
        <p *ngSwitchCase="'DESC'">
          Das Team mit dem
          <span class="font-semibold text-indigo-500">höchsten</span> Wert
          gewinnt.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <label class="label" for="name">Mitglieder</label>
        <p>{{ StationUtils.formatStationMembers(station) }}</p>
      </div>
    </div>

    <bkr-danger-zone class="mx-6" *ngIf="isAdmin()">
      <button
        bkr-button
        [bkrLoading]="deleteStationLoading()"
        bkrType="danger"
        class="w-full"
        (click)="handleDeleteStation(station.id)"
      >
        Station löschen
      </button>
    </bkr-danger-zone>
  </ng-container>

  <ng-template #empty>
    <bkr-empty>Station nicht gefunden.</bkr-empty>
  </ng-template>
</ng-container>

<ng-template #loadingIndicator>
  <bkr-loading></bkr-loading>
</ng-template>
