<header class="header mx-6">
  <a bkr-button class="col-span-1" routerLink="/teams">Abbrechen</a>
  <button
    bkr-button
    bkrType="primary"
    class="col-span-1"
    (click)="handleSave()"
    [disabled]="form.invalid || loading"
    [bkrLoading]="loading"
  >
    Speichern
  </button>
</header>

<form class="flex flex-col gap-4 px-6" [formGroup]="form">
  <div class="flex flex-col gap-2">
    <label class="label">Nummer<span class="text-indigo-500">*</span></label>

    <input
      bkrInput
      formControlName="number"
      placeholder="Nummer"
      type="number"
    />
  </div>

  <div class="flex flex-col gap-2">
    <label class="label">Name<span class="text-indigo-500">*</span></label>

    <input bkrInput formControlName="name" placeholder="Name" type="text" />
  </div>

  <div class="flex flex-col gap-2">
    <label class="label">Mitglieder</label>
    <bkr-members-input formControlName="members"></bkr-members-input>
  </div>
</form>
