<header class="grid grid-cols-2 gap-4 px-6">
  <a bkr-button class="col-span-1" routerLink="/teams">Abbrechen</a>
  <button
    bkr-button
    bkrType="primary"
    class="col-span-1"
    (click)="handleSave()"
  >
    Speichern
  </button>
</header>

<form class="flex flex-col gap-4 px-6" [formGroup]="form">
  <div class="flex flex-col gap-2">
    <label class="label" for="number">Nummer</label>
    <input
      bkrInput
      formControlName="number"
      id="number"
      name="nummer"
      type="number"
      placeholder="Nummer"
    />
  </div>

  <div class="flex flex-col gap-2">
    <label class="label" for="name">Name</label>
    <input
      bkrInput
      formControlName="name"
      id="name"
      name="name"
      type="text"
      placeholder="Name"
    />
  </div>
</form>
