<header class="grid grid-cols-2 gap-4 px-6">
  <a bkr-backward-button class="col-span-1" routerLink="/teams">Zurück</a>

  <ng-container *ngIf="team$ | async as team">
    <a
      bkr-button
      class="col-span-1"
      *ngIf="isAdmin()"
      [routerLink]="['/teams', team.id, 'edit']"
    >
      Bearbeiten
    </a>
  </ng-container>

  <a bkr-button bkrType="primary" class="col-span-2" *ngIf="isAdmin()">
    Start
  </a>
</header>

<div class="flex flex-col gap-4 px-6">
  <div class="flex flex-col gap-2">
    <label class="label">Nummer</label>
    <p>Nummer</p>
  </div>

  <div class="flex flex-col gap-2">
    <label class="label">Name</label>
    <p>Name</p>
  </div>

  <div class="flex flex-col gap-2">
    <label class="label">Code</label>
    <p>Code</p>
  </div>

  <div class="flex flex-col gap-2">
    <label class="label" for="name">Mitglieder</label>
    <p>Mitglieder</p>
  </div>
</div>

<div class="space-y-1 px-6">
  <h2 class="subtitle danger">Danger Zone</h2>
  <p class="text-gray-500">Hier wird's gefährlich.</p>
</div>

<div class="px-6">
  <button bkr-button bkrType="danger" class="w-full">Team löschen</button>
</div>
