@if (team(); as team) {
  <header class="header">
    <a bkr-backward-button class="col-span-1" routerLink="/teams">Zurück</a>
    @if (isAdmin()) {
      <a
        bkr-button
        class="col-span-1"
        [routerLink]="['/teams', team.id, 'edit']"
      >
        Bearbeiten
      </a>

      @if (!TeamUtils.isStarted(team)) {
        <button
          bkr-button
          [bkrLoading]="startTeamLoading()"
          bkrType="primary"
          class="col-span-2"
          (click)="handleStartTeam(team.id)"
          [disabled]="TeamUtils.isScheduled(team)"
        >
          <bkr-play-icon></bkr-play-icon>
          Start
        </button>
      } @else if (!TeamUtils.isFinished(team)) {
        <button
          bkr-button
          [bkrLoading]="stopTeamLoading()"
          bkrType="primary"
          class="col-span-2"
          (click)="handleStopTeam(team.id)"
        >
          <bkr-pause-icon></bkr-pause-icon>
          Stop
        </button>
      }
    }
  </header>

  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
      <label class="label">Nummer</label>
      <p>{{ team.number }}</p>
    </div>

    <div class="flex flex-col gap-2">
      <label class="label">Name</label>
      <p>{{ team.name }}</p>
    </div>

    <div class="flex flex-col gap-2">
      <label class="label">
        {{ TeamUtils.isStarted(team) ? 'Gestartet um' : 'Startet um' }}
      </label>
      <p>{{ team.startedAt | date }}</p>
    </div>

    <div class="flex flex-col gap-2">
      <label class="label">Angekommen um</label>
      <p>{{ team.finishedAt | date }}</p>
    </div>

    <div class="flex flex-col gap-2">
      <label class="label">Hilfsmittel</label>
      @if (team.help) {
        <p>
          <span class="font-semibold text-indigo-500">Ja</span>, das Team nutzt
          Hilfsmittel und fällt in die Nebenwertung.
        </p>
      } @else {
        <p>
          <span class="font-semibold text-indigo-500">Nein</span>, das Team
          nutzt keine Hilfsmittel.
        </p>
      }
    </div>

    <div class="flex flex-col gap-2">
      <label class="label">Strafminuten</label>
      <p>{{ team.penalty }}</p>
    </div>

    <div class="flex flex-col gap-2">
      <label class="label" for="name">Mitglieder</label>
      <p>{{ TeamUtils.formatTeamMembers(team) }}</p>
    </div>
  </div>

  @if (isAdmin()) {
    <bkr-danger-zone>
      <button
        bkr-button
        [bkrLoading]="deleteTeamResultsLoading()"
        bkrType="danger"
        class="w-full"
        (click)="handleDeleteTeamResults(team.id)"
      >
        <bkr-trash-icon></bkr-trash-icon>
        Ergebnisse löschen
      </button>

      <button
        bkr-button
        [bkrLoading]="deleteTeamLoading()"
        bkrType="danger"
        class="w-full"
        (click)="handleDeleteTeam(team.id)"
      >
        <bkr-trash-icon></bkr-trash-icon>
        Team löschen
      </button>
    </bkr-danger-zone>
  }
} @else {
  <bkr-empty>Team nicht gefunden.</bkr-empty>
}
