<header class="grid grid-cols-2 gap-4 px-6">
  <a bkr-backward-button class="col-span-1" routerLink="/teams">Zurück</a>
  <ng-container *ngIf="team$ | async as team">
    <a
      bkr-button
      class="col-span-1"
      *ngIf="isAdmin()"
      [routerLink]="['/teams', team.id, 'edit']"
    >
      Bearbeiten
    </a>

    <button
      bkr-button
      [bkrLoading]="startTeamLoading()"
      bkrType="primary"
      class="col-span-2"
      (click)="handleStartTeam(team.id)"
      *ngIf="isAdmin() && !team.startedAt"
    >
      <bkr-play-icon></bkr-play-icon>
      Start
    </button>

    <button
      bkr-button
      [bkrLoading]="stopTeamLoading()"
      bkrType="primary"
      class="col-span-2"
      (click)="handleStopTeam(team.id)"
      *ngIf="isAdmin() && team.startedAt && !team.finishedAt"
    >
      <bkr-pause-icon></bkr-pause-icon>
      Stop
    </button>
  </ng-container>
</header>

<ng-container *ngIf="!loading(); else loadingIndicator">
  <ng-container *ngIf="team$ | async as team; else empty">
    <div class="flex flex-col gap-4 px-6">
      <div class="flex flex-col gap-2">
        <label class="label">Nummer</label>
        <p>{{ team.number }}</p>
      </div>

      <div class="flex flex-col gap-2">
        <label class="label">Name</label>
        <p>{{ team.name }}</p>
      </div>

      <div class="flex flex-col gap-2">
        <label class="label">Gestartet um</label>
        <p>{{ team.startedAt ?? '-' }}</p>
      </div>

      <div class="flex flex-col gap-2">
        <label class="label">Angekommen um</label>
        <p>{{ team.finishedAt ?? '-' }}</p>
      </div>

      <div class="flex flex-col gap-2">
        <label class="label">Strafminuten</label>
        <p>{{ team.penalty }}</p>
      </div>

      <div class="flex flex-col gap-2">
        <label class="label" for="name">Mitglieder</label>
        <p>{{ TeamUtils.formatTeamMembers(team) }}</p>
      </div>
    </div>

    <ng-container *ngIf="isAdmin()">
      <div class="space-y-1 px-6">
        <h2 class="subtitle danger">Danger Zone</h2>
        <p class="text-gray-500">Hier wird's gefährlich.</p>
      </div>

      <div class="px-6">
        <button
          bkr-button
          [bkrLoading]="deleteTeamLoading()"
          bkrType="danger"
          class="w-full"
          (click)="handleDeleteTeam(team.id)"
        >
          Team löschen
        </button>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #empty>
    <bkr-empty>Team nicht gefunden.</bkr-empty>
  </ng-template>
</ng-container>

<ng-template #loadingIndicator>
  <bkr-loading></bkr-loading>
</ng-template>
