<header class="grid grid-cols-2 gap-4 px-6">
  <a bkr-backward-button class="col-span-1" routerLink="/">Zurück</a>
  <button
    bkr-button
    bkrType="primary"
    class="col-span-1"
    (click)="handlePublish()"
    [disabled]="publishLoading()"
    [bkrLoading]="publishLoading()"
  >
    Veröffentlichen
  </button>
</header>

<div class="space-y-1 px-6">
  <h2 class="subtitle">Endergebnis</h2>
  <p class="text-gray-500">Das finale Ergebnis aller Teams.</p>
</div>

<ng-container *ngIf="loading() === false; else loadingIndicator">
  <ul
    class="divide-y divide-gray-200 border-y border-gray-200"
    *ngIf="isRaceOver(); else empty"
  >
    <li class="flex gap-4 p-6" *ngFor="let rankingItem of []; let i = index">
      asdf
    </li>
  </ul>

  <ng-template #empty>
    <bkr-empty>Das Rennen ist noch nicht vorbei.</bkr-empty>
  </ng-template>
</ng-container>

<ng-template #loadingIndicator>
  <bkr-loading></bkr-loading>
</ng-template>
