<header class="header">
  <a bkr-backward-button class="col-span-1" routerLink="/">Zurück</a>

  <ng-container *ngIf="!settingsLoading()" [ngSwitch]="publishResults()">
    <button
      bkr-button
      [bkrLoading]="publishResultsLoading()"
      bkrType="primary"
      class="col-span-1"
      (click)="handlePublishResults()"
      [disabled]="publishResultsLoading()"
      *ngSwitchCase="false"
    >
      <bkr-lock-open-icon></bkr-lock-open-icon>
      Veröffentlichen
    </button>

    <button
      bkr-button
      [bkrLoading]="hideResultsLoading()"
      bkrType="primary"
      class="col-span-1"
      (click)="handleHideResults()"
      [disabled]="hideResultsLoading()"
      *ngSwitchCase="true"
    >
      <bkr-lock-closed-icon></bkr-lock-closed-icon>
      Verbergen
    </button>
  </ng-container>
</header>

<p class="text-sm text-gray-500" *ngIf="publishResults()">
  Die Ergebnisse sind
  <span class="font-semibold text-indigo-500">für alle</span> sichtbar.
</p>

<p class="text-sm text-gray-500" *ngIf="!publishResults()">
  Die Ergebnisse sind
  <span class="font-semibold text-indigo-500">nur für Organisatoren</span>
  sichtbar.
</p>

<div class="flex items-center gap-4">
  <div
    class="flex h-12 w-12 items-center justify-center rounded-full bg-indigo-100 text-indigo-500"
  >
    <bkr-trophy-icon></bkr-trophy-icon>
  </div>

  <div class="space-y-1">
    <h2 class="subtitle">Endergebnis</h2>
    <p class="text-gray-500">Das finale Ergebnis aller Teams.</p>
  </div>
</div>

<ng-container *ngIf="loading() === false; else loadingIndicator">
  <bkr-ranking
    *ngIf="isRaceOver(); else empty"
    [stations]="stations()"
    [teams]="teams()"
  ></bkr-ranking>

  <ng-template #empty>
    <bkr-empty>Das Rennen ist noch nicht vorbei.</bkr-empty>
  </ng-template>
</ng-container>

<ng-template #loadingIndicator>
  <bkr-loading></bkr-loading>
</ng-template>
