<header class="header">
  <a bkr-backward-button class="col-span-1" routerLink="/">Zurück</a>

  <ng-container [ngSwitch]="publishResults()">
    <button
      bkr-button
      [bkrLoading]="publishResultsLoading()"
      bkrType="primary"
      class="col-span-1"
      (click)="handlePublishResults()"
      [disabled]="publishResultsLoading()"
      *ngSwitchCase="false"
    >
      <bkr-lock-open-icon></bkr-lock-open-icon>
      Veröffentlichen
    </button>

    <button
      bkr-button
      [bkrLoading]="hideResultsLoading()"
      bkrType="primary"
      class="col-span-1"
      (click)="handleHideResults()"
      [disabled]="hideResultsLoading()"
      *ngSwitchCase="true"
    >
      <bkr-lock-closed-icon></bkr-lock-closed-icon>
      Verbergen
    </button>
  </ng-container>
</header>

<bkr-alert>
  <ng-container *ngIf="publishResults()">
    Die Ergebnisse sind momentan
    <span class="font-semibold">für alle</span> sichtbar.
  </ng-container>

  <ng-container *ngIf="!publishResults()">
    Die Ergebnisse sind momentan
    <span class="font-semibold">nur für Organisatoren</span>
    sichtbar.
  </ng-container>
</bkr-alert>

<div class="flex items-center gap-4">
  <div
    class="flex h-12 w-12 items-center justify-center rounded-full bg-indigo-100 text-indigo-500"
  >
    <bkr-trophy-icon></bkr-trophy-icon>
  </div>

  <div class="space-y-1">
    <h2 class="subtitle">Endergebnis</h2>
    <p class="text-gray-500">Das finale Ergebnis aller Teams.</p>
  </div>
</div>

<bkr-tabs (bkrChange)="handleChangeRanking($event)">
  <bkr-tab bkrKey="standard">Hauptwertung</bkr-tab>
  <bkr-tab bkrKey="help">Nebenwertung</bkr-tab>
</bkr-tabs>

<bkr-ranking
  *ngIf="isRaceOver(); else empty"
  [ranking]="ranking()"
  [stations]="stations()"
  [teams]="teams()"
></bkr-ranking>

<ng-template #empty>
  <bkr-empty>Das Rennen ist noch nicht vorbei.</bkr-empty>
</ng-template>
