<header class="header">
  <a bkr-button class="col-span-1" routerLink="/my-station">Abbrechen</a>

  <ng-container *ngIf="team() as team">
    <button
      bkr-button
      [bkrLoading]="checkOutLoading()"
      bkrType="primary"
      class="col-span-1"
      (click)="handleCheckOut(team.id)"
      [disabled]="form.invalid || checkOutLoading()"
    >
      Auschecken
    </button>
  </ng-container>
</header>

<div class="space-y-1" *ngIf="team() as team">
  <h2 class="subtitle">Check-out</h2>
  <p class="text-gray-500">
    Trag das Ergebnis von
    <span class="font-semibold text-indigo-500">{{ team.name }}</span> an deiner
    Station ein.
  </p>
</div>

<ng-container *ngIf="!loading(); else loadingIndicator">
  <ng-container *ngIf="team() as team; else empty">
    <form class="flex flex-col gap-4" [formGroup]="form">
      <div class="flex flex-col gap-2">
        <label class="label" for="points">
          Punkte<span class="text-indigo-500">*</span>
        </label>
        <input
          bkrInput
          formControlName="points"
          id="points"
          name="points"
          placeholder="Punkte"
          type="number"
        />
      </div>
    </form>

    <bkr-alert>
      Solltest du das Team aus Versehen eingecheckt haben, kannst du den
      Check-in hier wieder löschen.
    </bkr-alert>

    <bkr-danger-zone>
      <button
        bkr-button
        [bkrLoading]="deleteResultLoading()"
        bkrType="danger"
        class="w-full"
        (click)="handleDeleteResult(team.id)"
        [disabled]="deleteResultLoading()"
      >
        <bkr-trash-icon></bkr-trash-icon>
        Check-in löschen
      </button>
    </bkr-danger-zone>
  </ng-container>

  <ng-template #empty>
    <bkr-empty>Team nicht gefunden.</bkr-empty>
  </ng-template>
</ng-container>

<ng-template #loadingIndicator>
  <bkr-loading></bkr-loading>
</ng-template>
