<div class="flex items-center justify-between gap-4 p-4">
  <div class="flex gap-4">
    <bkr-check-circle-icon
      class="text-green-500"
      *ngIf="notification?.type === 'success'"
    ></bkr-check-circle-icon>
    <bkr-exclamation-circle-icon
      class="text-red-500"
      *ngIf="notification?.type === 'error'"
    ></bkr-exclamation-circle-icon>

    <p class="text-sm font-medium">
      {{ notification?.message }}
    </p>
  </div>

  <button
    class="inline-flex rounded-xl bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
    (click)="handleClose()"
    type="button"
  >
    <bkr-x-mark-icon></bkr-x-mark-icon>
  </button>
</div>
