<header class="grid grid-cols-2 gap-4 px-6">
  <a bkr-forward-button class="col-span-2" routerLink="/rules">Regeln</a>
  <a bkr-forward-button class="col-span-1" routerLink="/teams">Teams</a>
  <a bkr-forward-button class="col-span-1" routerLink="/stations">Stationen</a>
  <a bkr-forward-button bkrType="primary" class="col-span-2" routerLink="">
    Meine Station
  </a>
</header>

<div class="space-y-1 px-6">
  <h2 class="subtitle">Bestenliste</h2>
  <p class="text-gray-500">Das aktuelle Ranking aller Teams.</p>
</div>
