<header class="header">
  <a bkr-forward-button class="col-span-2" routerLink="/rules">Regeln</a>
  <a bkr-forward-button class="col-span-1" routerLink="/teams">Teams</a>
  <a bkr-forward-button class="col-span-1" routerLink="/stations">Stationen</a>
  <a
    bkr-forward-button
    bkrType="primary"
    class="col-span-2"
    *ngIf="isStation()"
    routerLink="/my-station"
  >
    Meine Station
  </a>
  <a
    bkr-forward-button
    bkrType="primary"
    class="col-span-2"
    *ngIf="isAdmin()"
    routerLink="/endresult"
  >
    Endergebnis
  </a>
</header>

<div
  class="space-y-1"
  *ngIf="!isRaceOver() || !publishResults(); else endresultHeader"
>
  <h2 class="subtitle">Übersicht</h2>
  <p class="text-gray-500">Die aktuellen Zeiten aller Teams.</p>
</div>

<ng-template #endresultHeader>
  <div class="flex items-center gap-4">
    <div
      class="flex h-12 w-12 items-center justify-center rounded-full bg-indigo-100 text-indigo-500"
    >
      <bkr-trophy-icon></bkr-trophy-icon>
    </div>

    <div class="space-y-1">
      <h2 class="subtitle">Endergebnis</h2>
      <p class="text-gray-500">Das finale Ergebnis aller Teams.</p>
    </div>
  </div>
</ng-template>

<ng-container *ngIf="!isRaceOver() || !publishResults(); else endresult">
  <ul class="list" *ngIf="rankingItems().length > 0; else empty">
    <li class="list-entry" *ngFor="let rankingItem of rankingItems()">
      <div class="flex flex-1 flex-col gap-2">
        <div class="flex justify-between gap-2">
          <!-- Team name and number-->
          <h3 class="name">
            {{ rankingItem.name }}
            <span class="number">#{{ rankingItem.number }}</span>
          </h3>

          <div class="flex items-center gap-2">
            <!-- Finished indicator -->
            <bkr-check-circle-icon
              class="text-indigo-500"
              *ngIf="rankingItem.finished"
            ></bkr-check-circle-icon>

            <!-- Current time -->
            <span class="font-mono">
              {{ formatDuration(times()[rankingItem.teamId]) }}
            </span>
          </div>
        </div>

        <!-- Progress Bar -->
        <div class="relative py-1.5">
          <!-- Background -->
          <div class="h-1 rounded-full bg-gray-200"></div>

          <!-- Foreground -->
          <div
            class="absolute left-0 top-1.5 z-10 h-1 rounded-full bg-indigo-500"
            [ngStyle]="{
              width: rankingItem.progress + '%',
            }"
          ></div>

          <!-- Marker -->
          <div class="absolute inset-x-0 top-0 z-20 flex justify-between">
            <!-- Start -->
            <div
              class="h-4 w-1 rounded-sm"
              [ngClass]="{
                'bg-gray-200': !rankingItem.started,
                'bg-indigo-500': rankingItem.started,
              }"
            ></div>

            <!-- Station -->
            <div
              class="h-4 w-4 rounded-full p-1"
              [ngClass]="{
                'bg-gray-200': !hasStationId(rankingItem, station.id),
                'bg-indigo-500': hasStationId(rankingItem, station.id),
              }"
              *ngFor="let station of stations()"
            >
              <div class="h-2 w-2 rounded-full bg-white"></div>
            </div>

            <!-- End -->
            <div
              class="h-4 w-1 rounded-sm"
              [ngClass]="{
                'bg-gray-200': !rankingItem.finished,
                'bg-indigo-500': rankingItem.finished,
              }"
            ></div>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <ng-template #empty>
    <bkr-empty>Es gibt noch keine Teams.</bkr-empty>
  </ng-template>
</ng-container>

<ng-template #endresult>
  <bkr-tabs (bkrChange)="handleChangeRanking($event)">
    <bkr-tab bkrKey="standard">Hauptwertung</bkr-tab>
    <bkr-tab bkrKey="help">Nebenwertung</bkr-tab>
  </bkr-tabs>

  <bkr-ranking
    [ranking]="ranking()"
    [stations]="stations()"
    [teams]="teams()"
  ></bkr-ranking>
</ng-template>
