<header class="header">
  <a bkr-backward-button class="col-span-1" routerLink="/">Zurück</a>
  <a
    bkr-button
    class="col-span-1"
    href="https://www.google.com/maps/dir/51.8584421,8.3063655/51.8634048,8.2993381/51.8671324,8.2958761/51.8693682,8.2965705/51.8778866,8.3039734/51.8796325,8.3159808/51.8689871,8.3150529/51.8587221,8.3068142/@51.869726,8.2847614,14z/data=!3m1!4b1!4m18!4m17!1m1!4e1!1m1!4e1!1m1!4e1!1m1!4e1!1m1!4e1!1m1!4e1!1m1!4e1!1m1!4e1!3e2?entry=ttu"
    target="_blank"
  >
    <bkr-map-icon class="text-gray-500"></bkr-map-icon>
    Karte
  </a>
</header>

<div class="space-y-1">
  <h2 class="subtitle">Regeln</h2>
  <p class="text-gray-500">Bitte dran halten.</p>
</div>

<ol class="space-y-4">
  <li class="flex items-start gap-2">
    <div class="decimal">1</div>
    <p>Spaß haben und unbeschadet ins Ziel (Die Spielerei) kommen.</p>
  </li>

  <li class="flex items-start gap-2">
    <div class="decimal">2</div>
    <p>
      Nicht von der Route abweichen! (Ausnahme bei geringer
      Karten-Lesekompetenz)
    </p>
  </li>

  <li class="flex items-start gap-2">
    <div class="decimal">3</div>
    <div class="flex flex-col gap-2">
      <p>
        Vollständigen Kasten inklusive der 24 Kronkorken und 2 Wasserflaschen im
        Ziel abliefern!
      </p>

      <ul class="list-inside list-disc">
        <li>
          Fehlender Kasten:
          <span class="font-semibold text-red-500">60 min Strafe</span>
        </li>
        <li>
          Fehlende Flasche/Kronkorken:
          <span class="font-semibold text-red-500">1 min Strafe pro Stück</span>
        </li>
      </ul>
    </div>
  </li>

  <li class="flex items-start gap-2">
    <div class="decimal">4</div>
    <div class="flex flex-col gap-2">
      <p>
        Der Team-Startzettel ist unbedingt zu behalten und nach Eintreffen im
        Ziel bei der Rennleitung abzugeben!
      </p>

      <ul class="list-inside list-disc">
        <li>
          Fehlender Startzettel:
          <span class="font-semibold text-red-500">30 min Strafe</span>
        </li>
      </ul>
    </div>
  </li>

  <li class="flex items-start gap-2">
    <div class="decimal">5</div>
    <div class="flex flex-col gap-2">
      <p>
        Selfie am Selfiepunkt machen und Foto an der Fotostation machen lassen!
      </p>

      <ul class="list-inside list-disc">
        <li>
          Fehlendes Selfie:
          <span class="font-semibold text-red-500">30 min Strafe</span>
        </li>
        <li>
          Fehlendes Foto:
          <span class="font-semibold text-red-500">5 min. Strafe</span>
        </li>
      </ul>
    </div>
  </li>

  <li class="flex items-start gap-2">
    <div class="decimal">6</div>
    <div class="flex flex-col gap-2">
      <p>Alle Stationen müssen absolviert werden!</p>

      <ul class="list-inside list-disc">
        <li>
          Fehlende Station:
          <span class="font-semibold text-red-500">Disqualifikation</span>
        </li>
      </ul>
    </div>
  </li>

  <li class="flex items-start gap-2">
    <div class="decimal">7</div>
    <p>Bier darf nicht weggeschüttet werden!</p>
  </li>

  <li class="flex items-start gap-2">
    <div class="decimal">8</div>
    <p>
      Bier darf nicht unter Zuhilfenahme jeglicher Mittel (Becher, Strohhälme,
      Stürzer, Bierbong, …) getrunken werden!
    </p>
  </li>

  <li class="flex items-start gap-2">
    <div class="decimal">9</div>
    <p>
      Keinen Müll in die Umwelt werfen! Falls eine Flasche zu Bruch geht, bitte
      die Scherben beseitigen, wobei auf die eigene Unversehrtheit zu achten
      ist.
    </p>
  </li>
</ol>
