<header class="grid grid-cols-2 gap-4 px-6">
  <a bkr-button class="col-span-1" routerLink="/my-station">Abbrechen</a>
  <button
    bkr-button
    [bkrLoading]="checkInLoading()"
    bkrType="primary"
    class="col-span-1"
    (click)="handleCheckIn()"
    [disabled]="form.invalid || checkInLoading()"
  >
    Einchecken
  </button>
</header>

<div class="space-y-1 px-6">
  <h2 class="subtitle">Team auswählen</h2>
  <p class="text-gray-500">
    Wähle das Team aus, das du einchecken möchtest. Es werden nur Teams
    angezeigt, die bereits im Rennen sind und noch nicht an deiner Station
    waren.
  </p>
</div>

<form [formGroup]="form" *ngIf="loading() === false; else loadingIndicator">
  <ul
    class="divide-y divide-gray-200 border-y border-gray-200"
    *ngIf="teamsToCheckIn().length > 0; else empty"
  >
    <li
      class="flex items-center gap-4 p-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
      (click)="handleSelectTeam(team.id)"
      *ngFor="let team of teamsToCheckIn()"
    >
      <input
        class="radio"
        formControlName="selectedTeamId"
        type="radio"
        [value]="team.id"
      />

      <div class="flex flex-col gap-1">
        <div class="flex items-center gap-2">
          <h3 class="name">{{ team.name }}</h3>
          <span class="number">#{{ team.number }}</span>
        </div>

        <p class="text-gray-500">{{ TeamUtils.formatTeamMembers(team) }}</p>
      </div>
    </li>
  </ul>

  <ng-template #empty>
    <bkr-empty>Es gibt keine Teams, die du einchecken kannst.</bkr-empty>
  </ng-template>
</form>

<ng-template #loadingIndicator>
  <bkr-loading></bkr-loading>
</ng-template>
