@if (isAuthenticated()) {
  <div class="space-y-1">
    <h2 class="subtitle">Account</h2>

    @if (isAdmin()) {
      <p class="text-gray-500">
        Du bist als
        <span class="font-semibold text-indigo-500">Organisator</span>
        eingeloggt.
      </p>
    }

    @if (isStation()) {
      <p class="text-gray-500">
        Du bist als
        <span class="font-semibold text-indigo-500">
          {{ station()?.name ?? 'Station' }}
        </span>
        eingeloggt.
      </p>
    }
  </div>

  <div class="flex flex-col gap-2">
    <label class="label">Login gültig bis</label>
    <p>{{ exp() | date }}</p>
  </div>

  <button bkr-button bkrType="primary" class="w-full" (click)="handleLogout()">
    Ausloggen
  </button>
} @else {
  <div class="space-y-1">
    <h2 class="subtitle">Login</h2>

    <p class="text-gray-500">
      Hier kannst du dich als Organisator mit dem
      <span class="font-semibold text-indigo-500">Master-Passwort</span> oder
      als Station mit eurem
      <span class="font-semibold text-indigo-500">Stationscode</span> einloggen.
      Der Login ist sieben Tage lang gültig.
    </p>
  </div>

  <form class="flex flex-col gap-4" [formGroup]="form">
    <input
      bkrInput
      formControlName="code"
      (keydown.enter)="handleLogin()"
      placeholder="Master-Passwort oder Stationscode"
      type="password"
    />

    <button
      bkr-button
      [bkrLoading]="loginLoading()"
      bkrType="primary"
      class="w-full"
      (click)="handleLogin()"
      [disabled]="form.invalid || loginLoading()"
    >
      Einloggen
    </button>
  </form>
}
