<div class="space-y-1 px-6">
  <h2 class="subtitle">Login</h2>
  <p class="text-gray-500">
    Hier kannst du dich als Organisator mit dem
    <span class="font-semibold text-indigo-500">Master-Passwort</span> oder als
    Station mit eurem
    <span class="font-semibold text-indigo-500">Stationscode</span> einloggen.
  </p>
</div>

<form class="flex flex-col gap-4 px-6" [formGroup]="form">
  <input
    bkrInput
    formControlName="code"
    placeholder="Master-Passwort oder Stationscode"
    type="password"
  />

  <button bkr-button class="w-full" bkrType="primary" type="submit">
    Einloggen
  </button>
</form>
