<div class="px-6">
  <h2 class="subtitle">Login</h2>
  <p class="mt-2 text-gray-500">
    Hier kannst du dich als Organisator mit dem
    <span class="font-semibold text-indigo-500">Master-Passwort</span> oder als
    Station mit eurem
    <span class="font-semibold text-indigo-500">Stationscode</span> einloggen.
  </p>
</div>

<form class="flex flex-col gap-4 px-6" [formGroup]="form">
  <input
    class="block w-full rounded-lg border-0 px-4 py-3 shadow-sm ring-1 ring-inset ring-gray-200 transition placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500"
    formControlName="code"
    id="password"
    name="password"
    placeholder="Master-Passwort oder Stationscode"
    type="password"
  />

  <button bkr-button class="w-full" bkrType="primary" type="submit">
    Einloggen
  </button>
</form>
